<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkkzWr4fRmrhSxfrhC3Um41uVtnNAGT5A</string>
	<key>GCM_SENDER_ID</key>
	<string>247968940876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.coffeeshop</string>
	<key>PROJECT_ID</key>
	<string>app-camaron-e8cea</string>
	<key>STORAGE_BUCKET</key>
	<string>app-camaron-e8cea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247968940876:ios:748db7ef5933b6521185e9</string>
</dict>
</plist>